<section id="signup">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Anmeldung</h2>
                <hr class="primary">
                <p>Ihr möchtet als Familie an der Kinderladen-Gründung mitwirken und einen Betreuungsplatz für euer Kind? Dann schickt uns eine formlose Anmeldung an anmeldung@fuchsbauberlin.de und wir melden uns bei euch.</p>
            </div>
        </div>
    </div>
</section>
