<section id="signup">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <h2 class="section-heading text-center">Anmeldung</h2>
                <hr class="primary">
                <p>Ihr möchtet als Familie an der Kinderladen-Gründung mitwirken und einen Betreuungsplatz für euer
                    Kind? Dann schickt uns eine formlose Anmeldung an <a
                            href="mailto:kinderladen.fuchsbau+anmeldung@gmail.com">kinderladen.fuchsbau@gmail.com</a>
                    und wir melden uns bei euch.</p>
            </div>
        </div>
    </div>
</section>
