<section id="signup">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <h2 class="section-heading text-center">Anmeldung</h2>
                <hr class="primary">
                <p>
                    Wir betreuen Kinder im Alter von zwei bis sechs Jahren. Derzeit haben wir keine freien Betreuungsplätze.
                    Änderungen werden wir hier bekanntgeben.
                </p>
            </div>
        </div>
    </div>
</section>
