<section id="data-privacy">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<h2 class="section-heading text-center">Datenschutzerklärung</h2>
				<hr class="primary">
				<div class="row">
					<div class="col-md-12">
						<p>
							Diese Datenschutzerklärung soll Sie als Nutzer dieser Website über die Art, den Umfang und den
							Zweck der Erhebung und Verwendung personenbezogener Daten durch den Websitebetreiber Kinderladen
							Fuchsbau informieren. Der Websitebetreiber nimmt Ihren Datenschutz sehr ernst und behandelt Ihre
							personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Vorschriften.
						</p>

						<h3>Personenbezogene Daten</h3>
						<p>
							Diese Website können Sie besuchen, ohne Angaben zu Ihrer Person zu machen. Es werden jedoch Ihre
							Zugriffsdaten auf diese Website gespeichert (ohne Personenbezug). Zu diesen Zugriffsdaten gehören
							z. B. die von Ihnen angeforderte Datei oder der Name Ihres Internet-Providers.

							Verarbeitung personenbezogener Daten
						</p>

						<h3>Bestimmung bei Möglichkeit der Kontaktaufnahme</h3>
						<p>
							Nehmen Sie mit uns als Websitebetreiber durch die angebotenen Kontaktmöglichkeiten Verbindung
							auf, werden Ihre Angaben gespeichert, damit auf diese zur Bearbeitung und Beantwortung Ihrer
							Anfrage zurückgegriffen werden kann. Ohne Ihre Einwilligung werden diese Daten nicht an Dritte
							weitergegeben.
						</p>

						<h3>GitHub</h3>
						<p>
							Unsere Website nutzt GitHub Pages zur Bereitstellung der Inhalte. Wenn Sie unsere Website
							besuchen, wird eine Verbindung zu den GitHub-Servern in den USA hergestellt. Dabei wird dem
							GitHub-Server mitgeteilt, welche unserer Seiten Sie besucht haben. Zudem erlangt GitHub Ihre
							IP-Adresse. Dies gilt auch dann, wenn Sie nicht bei GitHub eingeloggt sind oder keinen Account
							bei GitHub besitzen.
						</p>
						<p>
							Weitere Informationen zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerklärung von
							GitHub unter: <a href="https://help.github.com/articles/github-privacy-statement/">https://help.github.com/articles/github-privacy-statement/</a>.
						</p>

						<h3>Schlussbestimmung</h3>
						<p>
							Sie haben als Nutzer das Recht, auf Antrag eine kostenlose Auskunft darüber zu erhalten, welche
							personenbezogenen Daten über Sie gespeichert wurden.
						</p>
						<p>
							Sie haben außerdem das Recht auf Berichtigung falscher Daten und auf die Verarbeitungseinschränkung
							oder Löschung Ihrer personenbezogenen Daten. Falls zutreffend, können Sie auch Ihr Recht auf
							Datenportabilität geltend machen. Sollten Sie annehmen, dass Ihre Daten unrechtmäßig verarbeitet
							wurden, können Sie eine Beschwerde bei der zuständigen Aufsichtsbehörde einreichen.
						</p>

						<h3>Löschung von Daten</h3>
						<p>
							Sofern Ihr Wunsch nicht mit einer gesetzlichen Pflicht zur Aufbewahrung von Daten (z. B.
							Vorratsdatenspeicherung) kollidiert, haben Sie ein Anrecht auf Löschung Ihrer Daten. Von uns
							gespeicherte Daten werden, sollten sie für ihre Zweckbestimmung nicht mehr vonnöten sein und es
							keine gesetzlichen Aufbewahrungsfristen geben, gelöscht. Falls eine Löschung nicht durchgeführt
							werden kann, da die Daten für zulässige gesetzliche Zwecke erforderlich sind, erfolgt eine
							Einschränkung der Datenverarbeitung. In diesem Fall werden die Daten gesperrt und nicht für
							andere Zwecke verarbeitet.
						</p>

						<h3>Widerspruchsrecht</h3>
						<p>
							Nutzer dieser Webseite können von ihrem Widerspruchsrecht Gebrauch machen und der Verarbeitung
							ihrer personenbezogenen Daten zu jeder Zeit widersprechen.
						</p>
						<p>
							Wenn Sie eine Berichtigung, Sperrung, Löschung oder Auskunft über die zu Ihrer Person
							gespeicherten personenbezogenen Daten wünschen oder Fragen bzgl. der Erhebung, Verarbeitung oder
							Verwendung Ihrer personenbezogenen Daten haben, wenden Sie sich bitte an folgende E-Mail-Adresse:
							<a href="mailto:kinderladen.fuchsbau@gmail.com">kinderladen.fuchsbau@gmail.com</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
