<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row">
                <div class="col col-md-offset-4 col-md-4"><img class="img img-responsive fox-circle" src="/img/fuchs.jpg">
                </div>
            </div>
            <h1>Kinderladen Fuchsbau</h1>
            <hr>
            <p>Die Elterninitiativ-Kita mit Inklusion autistischer Kinder.</p>
            <a href="#kinderladen" class="btn btn-primary btn-xl page-scroll">Mehr erfahren</a>
        </div>
    </div>
</header>
