<section id="impressum" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Impressum</h2>
                <h3>Kinderladen Fuchsbau e.V.</h3>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <h3>Vorstand:</h3>
                        <ul class="no-bullets">
                            <li>Jennifer Steffens</li>
                            <li>Linda Holzgreve</li>
                            <li>Ewelina Chlasta</li>
                            <li>Yasan Al Mahamid</li>
                            <li>Silvia Chiogna</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 text-center">
                        <h3>Anschrift:</h3>
                        <p>Auerstraße 41, 10249 Berlin </p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <h3>Kontakt:</h3>
                        <p><a href="mailto:kinderladen.fuchsbau@gmail.com">kinderladen.fuchsbau@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
</section>
