<section id="impressum" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Impressum</h2>
                <hr class="primary">
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <div>
                <p>Verantwortlich:</p>
                <p>Kinderladen Fuchsbau e.V.<br> vertreten durch den Vorstand Jennifer Steffens, Luz Lotta Keller, Linda Holzgreve, Ewelina Chlasta</p>
            </div>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <p>Anschrift:</p>
            <p>Auerstraße 41, 10249 Berlin </p>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <p>Vereinsregister:</p>
            <p>Berlin</p>
        </div>

    </div>
</section>
