<section id="jobs" class="bg-primary">
    <div class="container">
    	<div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            	<h2 class="section-heading text-center">Jobs</h2>
            	<hr class="primary">
            	<p>
            		Ab Dezember 2017 bzw. Januar 2018 haben wir 2 Ganztags- und 1 Halbtagsstelle 
            		in unserem Kinderladen zu besetzen. Unser Kinderladen wird 19 Kinder im Alter 
            		von 1- 6 Jahren täglich in der Zeit von 07:30 bis 17:30 betreuen.
            	</p>
				<h3>Wen wir suchen</h3>
				<p>
					Wir wünschen uns vertrauenswürdige Wegbegleiter für unsere Kinder, gern mit 
					Erfahrung aber auch Berufsanfänger. Wir möchten eine offene und ehrliche Kultur 
					des Miteinander zwischen Kindern, Erziehern und Eltern etablieren. Dazu gehört 
					für uns der Austausch und die gemeinsame Begleitung unserer Kinder, aber auch der 
					Respekt gegenüber den Kindern als eigenständige Persönlichkeiten. Wir wollen unseren 
					Kindern Werte und Lebenskompetenzen vermitteln und ihnen Erfahrungsangebote machen, 
					achten aber auch ihr Recht auf freie Entfaltung und freies Spiel.
				</p>
				<h3>Was wir bieten</h3>
				<ul>
					<li>Vergütung nach Tarif</li>
					<li>Weihnachtsgeld</li>
					<li>Finanzielle Unterstützung und anteilige Freistellung bei Fortbildungen</li>
					<li>Regelmäßige Supervisionen</li>
					<li>Regelmäßige Mitarbeitergespräche</li>
					<li>Beteiligung an der Ausarbeitung des pädagogischen Konzeptes unter Berücksichtigung von Ansätzen von Pikler, Hengstenberg und Montessori</li>
				</ul>
				<p>
					Eure Bewerbung sowie weitere Fragen zu den offenen Stellen könnt ihr an den Vereinsvorstand 
					(<a style="color:#fff;" href="mailto:kinderladen.fuchsbau@gmail.com">kinderladen.fuchsbau@gmail.com</a>) richten. 
					Wir freuen uns darauf, euch kennenzulernen.
				</p>
        	</div>
        </div>
    </div>
</section>
