<section class="bg-primary" id="kinderladen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Unser Kinderladen</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn"></i>
                    <h3>Inklusion</h3>
                    <p class="text-faded">Gemeinsam leben. Voneinander lernen.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cutlery wow bounceIn" data-wow-delay=".1s"></i>
                    <h3>Vegetarisch & Bio</h3>
                    <p class="text-faded">Es wird täglich mit frischem Gemüse gekocht.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-leaf wow bounceIn" data-wow-delay=".2s"></i>
                    <h3>Naturverbundenheit</h3>
                    <p class="text-faded">Wöchentlicher Waldtag. Täglich frische Luft.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn" data-wow-delay=".3s"></i>
                    <h3>Engagement</h3>
                    <p class="text-faded">Alle Eltern tragen etwas zum Kinderladen bei.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <hr class="light">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center kinderladen-box">
                <p>Unser Kinderladen ist eine Eltern-Initiativ-Kindertagesstätte
                    (EKT) und wird durch einen gemeinnützigen Trägerverein von Eltern,
                    Pädagogen und Engagierten geführt. Neben der Entstehung von
                    rund zwanzig normalen Kinderladen-Plätzen haben wir es uns
                    zum Ziel gesetzt zwei (später eventuell vier) Integrationsplätze
                    zu schaffen. Unser Schwerpunkt liegt hierbei in der Förderung von
                    autistischen Kindern. Wir möchten den Kindern eine vertraute
                    Spiel- und Lernsituation bieten, streben daher eine Gruppengröße
                    von etwa zwanzig Kindern an und orientieren uns am Berliner
                    Bildungsprogramm. Wir erarbeiten ein pädagogisches Konzept,
                    das Ansätze von Pikler, Hengstenberg und Montessori umfasst.
                    Außerdem sind beim geplanten wöchentlichen Waldtag Natur- und
                    Waldpädagogik eingebunden um unseren Kindern einen Ausgleich
                    zum Großstadtleben zu ermöglichen. Wir möchten einen Beitrag
                    zur Umsetzung der UN-Behindertenkonvention leisten,
                    welche fordert allen Menschen uneingeschränkte Teilnahme
                    am sozialen Leben zu ermöglichen, und pflegen die inklusive Kultur.
                    Insbesondere möchten wir Kindern mit Autismus einen Raum für das
                    gemeinsame Leben und Lernen bieten. Der Träger plant darüber hinaus
                    die Formulierung eines Rahmenkonzeptes Integration. Das nötige Know-
                    How und die pädagogischen Fachkenntnisse bringen Spezialisten aus unserem Verein mit.
                </p>
            </div>
        </div>
    </div>
</section>
