  <aside id="spenden">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Unterstützer gesucht</h2>
              <a href="#" class="btn btn-primary btn-xl wow tada">
Geldspende
Wir freuen uns über jede (noch so kleine!) Geldspende. Kontaktieren Sie uns bitte und richten die Spende an folgendes Konto:

Empfänger: Kinderladen Fuchsbau e.V.
IBAN: DE24 4306 0967 1190 1576 00
BIC: GENODEM1GLS

Sachspende
Möchten Sie uns eine Sachspende zukommen lassen? Das freut uns sehr! Bitte wenden Sie dich direkt an den Vorstand des Kinderladen Fuchsbau um gemeinsam zu besprechen was aktuell benötigt wird. 

Engagement
Sie haben die Möglichkeit uns mittels Dienstleistungen oder ehrenamtlicher Mitarbeit zu unterstützen? Wunderbar! Setzen Sie sich bitte mit dem Vorstand in Verbindung um gemeinsam zu besprechen, was aktuell benötigt wird.</a>
          </div>
      </div>
  </aside>
