<aside id="spenden">
    <div class="container">
        <div class="row call-to-action">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <h2 class="text-center">Unterstützer gesucht!</h2>
                <hr>
                <h3>Geldspende</h3>
                <p>Wir freuen uns über jede (noch so kleine!) Geldspende. <a
                        href="mailto:kinderladen.fuchsbau@gmail.com">Kontaktieren Sie uns bitte</a> und richten die
                    Spende
                    an folgendes Konto:</p>
                <p>

                    Empfänger: Kinderladen Fuchsbau e. V.<br>
                    IBAN: DE24430609671190157600<br>
                    BIC: GENODEM1GLS<br>
                </p>
                <h3>Sachspende</h3>
                <p>
                    Möchten Sie uns eine Sachspende zukommen lassen? Das freut uns sehr! Bitte wenden Sie sich direkt an
                    den
                    <a href="mailto:kinderladen.fuchsbau@gmail.com">Vorstand</a> des Kinderladen Fuchsbau um gemeinsam
                    zu besprechen was aktuell benötigt wird.
                </p>
                <h3>Engagement</h3>
                <p>
                    Sie haben die Möglichkeit uns mittels Dienstleistungen oder ehrenamtlicher Mitarbeit zu
                    unterstützen?
                    Wunderbar! Setzen Sie sich bitte mit dem <a
                        href="mailto:kinderladen.fuchsbau@gmail.com">Vorstand</a> in Verbindung um gemeinsam zu
                    besprechen, was aktuell
                    benötigt wird.
                </p>
            </div>
        </div>
    </div>
</aside>
