<section id="verein">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <h2 class="section-heading text-center">Der Verein</h2>
                <hr class="primary">
                <div class="row">
                    <div class="col-md-12">
                        <p>Als Träger des Kinderladens und Eltern unserer Kinder arbeiten wir daran, eine besonders
                            vertraute,
                            anregende und angenehme Spiel- und Lernsituation für die Kinder zu schaffen.</p>
                        <p>
                            Die inklusive Kultur zu pflegen und einen Beitrag zur Umsetzung der UN-Behindertenkonvention
                            leisten
                            ist wichtiger Bestandteil unserer Vereinsarbeit. Der Träger fördert in Inklusion
                            autistischer
                            Kinder, erarbeitet ein Rahmenkonzept Integration und bringt pädagogisches Fachwissen in den
                            Kinderladen mit ein.</p>
                        <p>
                            Wir freuen uns über Unterstützung unserer Vereinsarbeit. Es gibt die Möglichkeit im Verein
                            tätig zu
                            werden oder uns mit Spenden zu unterstützen. Bitte <a
                                href="mailto:kinderladen.fuchsbau@gmail.com">kontaktiere uns</a>, um zu erfahren, was
                            aktuell
                            benötigt wird.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
