<section id="verein">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Der Verein</h2>
                <hr class="primary">
                <p>Als Träger des Kinderladens und Eltern unserer Kinder arbeiten wir daran, eine besonders vertraute, anregende und angenehme Spiel- und Lernsituation für die Kinder zu schaffen.

Die inklusive Kultur zu pflegen und einen Beitrag zur Umsetzung der UN-Behindertenkonvention leisten ist wichtiger Bestandteil unserer Vereinsarbeit. Der Träger fördert in Inklusion autistischer Kinder, erarbeitet ein Rahmenkonzept Integration und bringt pädagogisches Fachwissen in den Kinderladen mit ein.

Wir freuen uns über Unterstützung unserer Vereinsarbeit. Es gibt die Möglichkeit im Verein tätig zu werden oder uns mit Spenden zu unterstützen. Bitte kontaktiere uns, um zu erfahren, was aktuell benötigt wird.</p>
            </div>
        </div>
    </div>
</section>
